### Importando bibliotecas

In [1]:
# pipenv install scikit-learn scipy pandas matplotlib seaborn ipykernel gradio

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Carregando os dados

In [4]:
# Carregar o arquivo
df_colesterol = pd.read_csv('./datasets/dataset_colesterol.csv')

In [5]:
# Checar o arquivo
df_colesterol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  1000 non-null   int64
 1   Grupo Sanguíneo     996 non-null    object
 2   Fumante             997 non-null    object
 3   Nível de Atividade  996 non-null    object
 4   Idade               997 non-null    float64
 5   Peso                997 non-null    float64
 6   Altura              997 non-null    float64
 7   Colesterol          1000 non-null   float64
dtypes: float64(4), int64(1), object(3)
memory usage: 62.6+ KB

In [6]:
# Remover coluna id pois na predição ela não será útil
df_colesterol.drop(columns=['Id'], axis=1, inplace=True)

In [7]:
# Remover espaço no nome das colunas
# removendo nome maiusculo das colunas
# Renomear as colunas
df_colesterol.columns=[
  'grupo_sanguineo',
  'fumante',
  'nivel_atividade_fisica',
  'idade',
  'peso',
  'altura',
  'nivel_colesterol'
]

# nivel_colesterol será nosso target (variavel dependente)

In [8]:
df_colesterol.head(5)

,grupo_sanguineo,fumante,nivel_atividade_fisica,idade,peso,altura,nivel_colesterol
0,B,Sim,Baixo,33.0,85.1,186.0,199.63
1,A,Não,Moderado,68.0,105.0,184.0,236.98
2,O,Não,Alto,25.0,64.8,180.0,161.79
3,A,Não,Alto,43.0,120.2,167.0,336.24
4,AB,Não,Baixo,79.0,88.5,175.0,226.23

In [9]:
# Copiar DF para DF EDA
df_colesterol_eda = df_colesterol.copy()

In [10]:
# Copiar DF para DF Bucketing
df_colesterol_bucketing = df_colesterol.copy()

### Realizando EDA